[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/marcinolokk/esp-idf.git
	branch = v5.3.5-smarty
[submodule "components/esp-adf-libs"]
	path = components/esp-adf-libs
	url = https://github.com/espressif/esp-adf-libs
[submodule "components/esp-sr"]
	path = components/esp-sr
	url = https://github.com/espressif/esp-sr.git
